.movies-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.movies-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 70px 0 100px;
}