.movies-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.movies-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 120px 82px 0 104px;
}